.root {
    -fx-background-color: #f9fff1;
    -fx-font-style: SanSerif;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}
.summary-counter {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff8d07;
}
.new-ticket-button {
    -fx-font-size: 18px;
    -fx-background-color: #ffa73f;
}
.normal-text {
    -fx-font-size: 18px;
}
.normal-sub-text {
    -fx-font-size: 12px;
}
.header-panel {
    -fx-background-color: #c5f4f6;
}
.user-info-card {
    -fx-background-color: #90bde0;
    -fx-background-radius: 15;
}
.categories-card {
    -fx-background-color: #90bde0;
    -fx-background-radius: 15;
}